.about {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;

  .image {
    flex: 1;
    width: 100%;
    height: 100%;

    img {
      width: 250px;
      height: 270px;
      border-radius: 50%;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    h1 {
      font-size: 20px;
      color: var(--secondary-color);
      word-spacing: 0.4px;


      span {
        color: var(--gray-color);
        // font-size: 20px;

      }

    }

    p {
      line-height: 30px;
      word-spacing: 0.4rem;

      span {
        color: crimson;
      }
    }

    button {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);
  
      font-weight: 500;
      color: var(--white-color);
      outline: none;
      margin: 2rem 0 0 0;
      font-family: var(--font-base);
  
      transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
      cursor: pointer;
  
      &:hover {
        background-color: #2430af;
      }
    }

  }

  // @media screen and (min-width: 600px) {
  //   .about {
  //     display: flex;
  //     flex-direction: column;

  //     .image {
  //       img {
  //         width: 10px;
  //         height: 10px;
  //       }
  //     }
  //   }
  // }

}

@media screen and (max-width: 600px){
  .about {
    width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    gap: 10px;
    justify-content: center;

    .image {
      img {
        width: 150px;
        height: 150px;
      }
    }

    .content {
      h1 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}